
div {
    border: 1px dotted blue;
  } /* ///////////убрать  */
  
.container {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}
  
.paragraph {
}
.child {
  }

  .btn-primary {
    height: 40px;
    border: 2px solid #66b0f9;
    background-color: #66b0f9;
  }


  