div {
  border: 1px dotted blue;
} /* ///////////убрать  */


.wrapper {
  background: linear-gradient(to bottom, #131b41, #268cf1, #131b41);
  color: white;
}

main{
  height: 100vh; 
}

.row {
  justify-content: center;

}
  
.tytle1,
.tytle2 {
  padding: 20px 10px 0px 10px;
  display: flex;
  justify-content: center;
  font: bold 26px 'Garamond';
  color: white;
}

.btn-primary {
  height: 40px;
  border: 2px solid #66b0f9;
  background-color: #66b0f9;
}
.container_lang {
  margin: 40px 0px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang_img {
  display: block;
  width: 60px;
  margin: 10px;
}

.initialWord, 
.translation, 
.initialWord:disabled,
.translation:focus {
  background-color: #66b0f9;
  border: 1px solid #66b0f9;
  color: white;
}

.initialWord:disabled {
  font-weight: 500;
}


.balls {
  display: flex;
  justify-content:space-around;


}
.container_balls {
  padding: 30px 0px 30px 0px;

}
.ball {
  display: block;
  width: 60px;
}

.ball_am3_img {
  margin-left: 15%;
}
.ball_nz2_img {
  margin-left: 25%;
}
.ball_can2_img {
  margin-left: 35%;
}
.ball_nz_img {
  margin-left: 45%;
}

.ball_gb2_img {
  margin-left: 85%;
}
.ball_au_img {
  margin-left: 75%;
}
.ball_am_img {
  margin-left: 65%;
}
.ball_gb_img {
  margin-left: 55%;
}


footer {
  background: linear-gradient(to bottom, #268cf1, #131b41);
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
   }

.footer_social {
  text-align: center;
}

.social_img {
  width: 20px;
  margin: 10px;
}

